.cover__text {
  color: #ffffff;
  padding: 10.3% 0;
}

@media screen and (min-width: 410px) {
  .cover__text {
    padding: 15% 0;
  }
}

@media screen and (min-width: 524px) {
  .cover__text {
    padding: 18% 0;
  }
}

@media screen and (min-width: 768px) {
  .cover__text {
    padding: 15% 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover__text {
    padding: 19% 0;
  }
}

@media screen and (min-width: 1280px) {
  .cover__text {
    padding: 20.7% 0;
  }
}
