.place__img {
  width: 100%;
  padding-top: 32px;
}

@media screen and (min-width: 768px) {
  .place__img {
    grid-column: 1/2;
    grid-row: 3/5;
    padding-top: 0;
  }

  @media screen and (min-width: 1280px) {
    .place__img {
      max-width: 460px;
    }
  }
}
